@layer components {
  .dropdown {
    @apply relative;

    &__content {
      @apply overflow-hidden rounded-primary border bg-white shadow-lg;
      animation: dropdown-animation 0.15s ease-in-out;
    }

    &__link,
    &__item {
      @apply flex w-full items-center px-4 py-2 text-left text-sm leading-5 text-dark-800 transition duration-150 ease-in-out hover:bg-dark-100 focus:outline-none;
    }

    @keyframes dropdown-animation {
      0% {
        opacity: 0;
        transform: translateY(5px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
